<nav>

  <button class="name-btn">A.NEUSCHELER</button>

  <div class="nav-links">
    {% assign sorted_works = site.works | sort: 'order' %}
    {% assign grouped_works = sorted_works | group_by: "thread" | sort: 'name' %}
    {% for group in grouped_works %}
      
      {% if group.name == 'none' %}
        <div class="thread-group first-group">
        {% for item in group.items %}
          {% if item.draft == false %}
          <li class="{{ item.title | slugify | remove: '-' }}-crumb {% if item.always-visible %}always-visible{% endif %}">
            <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
          </li>
          {%endif%}
        {%endfor%}
        </div>
      {%endif%}
      
      {% if group.name != 'none' %}
        <div class="thread-group">
          {% for item in group.items %}
          {% if item.draft == false %}
          <li class="{{ item.title | slugify | remove: '-' }}-crumb {% if item.always-visible %}always-visible{% endif %}">
            <a href="{{ site.baseurl }}{{ item.url }}">
              {{ item.title }}
            </a>
          </li>
          {%endif%}
          {%endfor%}
        </div>
      {%endif%}
    {%endfor%}

    <button class="reset-btn">(reset threads)</button>
  </div>
</nav>
